-e git+git://github.com/seung-lab/PyChunkedGraph.git@vminnie-90#egg=pychunkedgraph
dynamicannotationdb>=2.0.1
emannotationschemas>=3.1.4
annotationframeworkclient==2.4.0
cloud-volume==1.21.1
cloud-files==1.24.1
pandas>=1.2.4
Flask==1.1.2
SQLAlchemy<1.4
Flask-SQLAlchemy==2.4.4
jsonschema==3.2.0
multiwrapper==0.1.1
requests==2.24.0
middle-auth-client==3.2.5
marshmallow-sqlalchemy==0.23.1
flask-marshmallow==0.13.0
Flask-Admin==1.5.6
Flask-Cors==3.0.8
flask-restx==0.2.0
flask-accepts==0.17.3
alembic==1.4.2
celery==4.4.7
cachetools==4.1.1
gevent==20.6.2
gcsfs>=0.8.0
pyarrow==3.0.0
flask_cors
numpy>=1.20