git+git://github.com/seung-lab/igneous.git#egg=igneous
git+git://github.com/seung-lab/PyChunkedGraph.git#egg=pychunkedgraph
cloud-volume
emannotationschemas>=2.0.0
DynamicAnnotationDB
argschema<2.0.1
pandas
Flask
sqlalchemy
flask-sqlalchemy
marshmallow-sqlalchemy
flask-marshmallow
flask-admin
labelops
alembic
annotationframeworkclient
celery
redis
eventlet

